html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90vw;
  border: 2px solid rgb(108, 86, 133);
}

header {
  display: flex;
  flex-direction: column;
  height: 250px;
  border: 2px solid brown;
}

header * {
  color: white;
  padding: 0;
}
.container-Navbar {
  display: flex;
  background-color: rgb(44, 62, 80);
  height: 50px;
}

.container-Navbar_text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 60%;
}
.container-Navbar_text p {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 2vw;
  border: 2px solid rgb(0, 255, 76);
}

nav {
  display: flex;
  align-items: center;
  width: 40%;
  border: 2px solid yellow;
}

ul {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid purple;
  padding: 0;
  width: 50%;
}
li {
  list-style-type: none;
  margin-right: 2%;
}
a {
  text-decoration: none;
  font-size: 1.5vw;
}

.banniere {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 53, 69);
  height: 100%;
}
.banniere-img {
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 2px solid rgb(48, 82, 58);
}

.banniere-img img {
  height: 100px;
  width: 80px;
  border: 2px solid rgb(108, 86, 133);
  padding: 0;
}
.banniere-text * {
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 5px 0;
  border: 2px solid rgb(86, 108, 133);
}
.banniere-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(169, 94, 172);
  padding: 5px 0;
}
.contenu {
  border: 2px solid rgb(0, 81, 255);
}

@media (min-width: 600px) and (max-width: 950px) {
  .container-Navbar {
    /* flex-direction: column; */
    height: fit-content;
  }
  .container-Navbar * {
    width: 100%;
  }
  nav {
    width: 10% !important;
  }

  ul {
    height: 100%;
    width: 100% !important;
    flex-direction: column;
    width: fit-content !important;
  }
}

.contenu {
  height: 400px;
}

h2 {
  text-align: center;
}
